<p id="notice"><%= notice %></p>
<center><h1>Articl.es</h1></center><br />
<br />
<br />
<br />
<%= link_to (image_tag "arrow_left.png"), articles_path %>Back to article list 
<div class="edit"> 
  <%= link_to (image_tag "script_edit.png"), edit_article_path(@article) %>Edit     
</div>
<div class="delete">
  <%= link_to (image_tag "script_delete.png"), %>Delete
</div>
<div class="email">
  <%= link_to (image_tag "email.png"), %>Email
</div>
<p>
  <%= @article.title %>
</p>

<p>
  by <%= @article.author_name %>. <%= @article.creation_date %>
</p>

<p>
  <%= @article.body %>
</p>



