<!DOCTYPE html>
<html>
<head>
  <title>Project06</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if session[:user_id] %>
    <%= button_to 'Logout', logout_path, method: :delete %>
  <% end %>
<%= yield %>

</body>
</html>
