<center><h1>Articl.es</h1></center><br />
<br />
<br />
<br />
<h2>All the World's Articles</h2>
<div class='add'>
  <%= link_to (image_tag "script_add.png", :border=>0), new_article_path, {:title => "Click here to create an new article"}  %>Create an article
</div>

<table>
  <tr>
    <td>Title</td>
	<td>Author Name</td>
	<td>Content</td>
	<td>Creation Date</td>
  </tr>
<% @articles.each do |article| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  
    <td>
	  <dl>
		<dt><%= article.title %></dt>
	  </dl>
	</td>
	<td>
	  <dl>
		<dt><%= article.author_name %></dt>
	  </dl>
	</td>
	<td>
	  <dl>
	    <dd><%= truncate(strip_tags(article.body), length: 25) %></dd>
	  </dl>
	</td>
	<td>
      <dl>	
		<dt><%= article.creation_date %></dt>
	  </dl>
	</td>
    <td><%= link_to (image_tag "script_go.png"), article, {:title => "Click here to go to the article"} %></td>
    <td><%= link_to (image_tag "script_edit.png"), edit_article_path(article), {:title => "Click here to edit the article"} %></td>
    <td><%= link_to (image_tag "script_delete.png"), article, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>



<br />

<p><%= will_paginate @articles %></p>

